@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.section {
  @include mixins.flex(column, $align: center);
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 2rem;
  margin-bottom: 2rem;
  @include mq.pc {
    width: 90%;
  }
}
