@use "../../styles/colors";
@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.home {
  min-height: 100vh;
  @include mixins.flex(column, center, center);

  .container {
    @include mixins.flex(column, center, flex-start);
    @include mq.pc {
      height: 90%;
      width: 50%;
      margin-left: 8%;
    }
  }
  img {
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    @include mq.pc {
      height: 55%;
    }
  }
  h3 {
    @include mixins.font(400, 1.1rem);
    font-style: italic;
    margin: 1rem 0;
    @include mq.pc {
      font-size: 1.75rem;
    }
  }
  p {
    @include mixins.font(400, 0.75rem);
    margin: 2% 0;
    @include mq.pc {
      font-size: 1.1rem;
    }
  }
}
