@use "../../styles/colors";
@use "../../styles/mixins";

.home {
  h2,
  h3,
  p {
    color: colors.$text-main;
    margin: 2% 0;
  }
  grid-area: home;
  min-height: 100vh;

  @include mixins.flex(column, center, center);
  &__box {
    @include mixins.flex(column, center, flex-start);
    height: 90%;
    width: 50%;
    margin-left: 8%;
  }
  &__image {
    height: 55%;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  &__heading {
    @include mixins.font(700, 2rem);
    & span {
      @include mixins.font-caveat(700, 4rem);
    }
  }
  &__subheading {
    @include mixins.font(400, 1.75rem);
    font-style: italic;
  }
  &__text {
    @include mixins.font(400, 1.1rem);
  }
}
