@use "../../styles/colors";
@use "../../styles/media-queries";
@use "../../styles/mixins";

.nav {
  align-self: center;
  height: 100%;
  position: fixed;
  @include mixins.flex(column, space-between, center);

  .container {
    width: 100%;
    justify-self: center;
    @include mixins.flex(column, $align: center);

    .page_links {
      width: 95%;
      display: flex;
      @include mixins.flex(column, center, center);
      margin-bottom: 1%;
    }
  }

  .social {
    width: 50%;
    @include mixins.flex(row, space-around, center);
    margin: 0.6rem 0 1.2rem 0;
  }

  .footer {
    @include mixins.font(400, 0.65rem, colors.$white-ish);
  }
}

.open {
  width: 225px;
}

.close {
  width: 60px;

  .social {
    @include mixins.flex(column, center, space-around);
    row-gap: 0.8rem;
  }

  .footer {
    color: transparent;
  }
}
