@use "../../styles/colors";
@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.contact {
  height: 100vh;
  @include mixins.flex(column, flex-start, center);
}

.container {
  @include mixins.flex(column, center, center);

  @include mq.pc {
    height: 75%;
    width: 55%;
  }
}

.text {
  @include mixins.font(500, 0.7rem);
  @include mq.pc {
    font-size: 1rem;
  }
}
